:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: #272142;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px 0;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 44px;
  }

  .content {
    text-align: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding-top: 0;
  }
}
